.row.text-center.row-2
  .col-md-2.col-side
    = render partial: 'projects/sidenavigation', locals: {project:  @project}

  .col-md-9
    .row.text-center
      %h3 Project Tasks
      %table.table.table-bordered.table-striped.text-center
        %tr.header
          %th Description
          %th Priority
          %th Status
          %th Assigned To

        %tbody
          - @tasks.each do |task|
            %tr
              %td= best_in_place task, :description, url: "tasks/#{task.id}" 
              %td= best_in_place task, :priority, url: "tasks/#{task.id}"
              %td= best_in_place task, :status, :as => :select, 
                :collection => {"1" => "Approved", "2" => "Pending", "3" => "Outstanding", "4" => "Review"}, url: "tasks/#{task.id}" 
              %td= best_in_place task, :created_by, url: "tasks/#{task.id}"
              %td= link_to 'Destroy', { controller => "tasks", :action => "destroy", id: task.id}, :method => :delete

      %br
      
      = render partial: "form", locals: {assignable: @assignable} unless @view_only

      :javascript
      $(document).ready(function() {
        /* Activating Best In Place */
        jQuery(".best_in_place").best_in_place();
      });

