<div class="row row-1">
	<%= render(:partial => '/landing/banner') %>  
</div>


<div class = "row text-center row-2">

  	<div class="col-md-3">
	  	<%= render(:partial => '/project/sidenavigation') %>
  	</div>
	
	<div class="col-md-8">
	  	<h3>Tasks</h3>
	  	<table class="table table-bordered table-striped text-center" summary="Tasks List">
			<tr class="header">
				<th>&nbsp;</th>
				<th>Description</th>
				<th>Created By</th>
				<th>Assigned to</th>
				<th>Company Id</th>
				<th>Project Id</th>
				<th>Priority Code</th>
			</tr>
			<% i = 0 %>	
			<% @tasks.each do |task|%>	
			<tr>
					<td><%=task.position%></td>
					<td><%=task.description%></td>
					<td><%=task.created_by%></td>
					<td><%= %></td>
					<td><%=task.company_id%></td>
					<td><%=task.project_id%></td>
					<td><%= %></td
			</tr>
			<% i = i + 1 %>	
			<% end %>
		</table>
		
		<h3>You have <%=i%> outstanding tasks</h3>
 	 </div>
  
  
  
  	<div class="col-md-1"> </div>



</div>

  
