	<% if !flash[:notice].blank? %>
		<div class="notice">
				<h3><%= flash[:notice]%></h3>
		</div>
	<% end%>
	
	
		
	<div class='row row-1'>
		<%=render(:partial => 'landing/banner')%>
	</div>
	
	<div class="row row-2 text-center">
	  	
		<div class="col-md-3">
	  	</div>
		
	  	<div class="col-md-6">
		
			
				<h2>Create new Account</h2>
				<%= form_for @user do |f| %>
							<%= render 'shared/error_messages', form_object: @user %>
					<table summary="Subject form fields">
						<tr>
							<th class='form-header'>First Name</th>
							<td><%= f.text_field :first_name, class: 'form-control'%></td>
      					</tr>
						<tr>
							<th class='form-header'>Last Name</th>
							<td><%= f.text_field :last_name, class: 'form-control'%></td>
      					</tr>
						<tr>
							<th class='form-header'>Username</th>
							<td><%= f.text_field :username, class: 'form-control'%></td>
      					</tr>
						<tr>
							<th class='form-header'>E-mail</th>
							<td><%= f.text_field :email, class: 'form-control'%></td>
      					</tr>
						</tr>
						<tr>
							<th class='form-header'>Password</th>
							<td><%= f.password_field :password, class: 'form-control'%></td>
						</tr>
						<tr>
							<th class='form-header'>Confirmation</th>
							<td><%= f.password_field :password_confirmation, class: 'form-control'%></td>
						</tr>
						</table>
						<%= submit_tag("Sign up!")%>
					<% end %>
				</div>
	  	</div>
		
		
		
	  	<div class="col-md-3">
	  	</div>
			
			
		</div>
