
<div class = "row row-2 row-heading text-center">
	<div class="col-md-2 col-side">
		<%= render partial: 'projects/sidenavigation', locals: {project:  @project} %>
  </div>

	<div class="col-md-10">
		
		<div class ="row text-center">
			
			
			<div class="col-md-9 col-title">
				<h1>PO List for <%=@project.project%></h1>
			</div>
			<div class="col-md-3">
				<br><%=link_to('Change Project', {:controller => 'projects' ,:action => 'index'})%></a>
				<br><%=link_to('Create PO', {:controller => 'master_pos' ,:action => 'new', project_id: @project.id})%></a>
			</div>
		</div>
		
		<div class ="row row-2 text-center">
		  <table class="table table-bordered text-center" summary="Tasks List">
			<tr class="header">
				<th>PO ID</th>
				<th>Vendor ID</th>
				<th>Line Items</th>
				<th>Delivery Date</th>
				<th>Details</th>
				
			</tr>
				<% @pos.each do |po|%>
			<tr>
				<td><%=po.id%></td>
				<td><%=po.po_num%></td>
				<td><%=po.company_id%></td>
				<td>Line item count</td>
				<td>Delivery Date</td>
				<td><%=link_to("Details", {:controller => 'items', :action => 'index', :master_po_id => po.id}, :class => 'action index')%></td>
			</tr>	
			<% end %>
			</table>
		</div>

	<div class="col-md-1 col-side">
	</div>

	</div>

</div>
