
<div class = "row text-center row-2">
	
	
  	  <div class="col-md-2"> 
		  <%=render(:partial => '/projects/sidenavigation')%>
	  </div>
  
  
  	<div class="col-md-8">

		<div class="row row-1">
	  		<h1>Create New PO</h1>
		</div>
		
		<div class="row row-2">
			<div class="col-md-4"></div>
			
			<div class="col-md-4">
			
			</br></br>
		    <%= form_for(:master_po, :url => {:action => 'create'}) do |f| %>

		      <table summary="Subject form fields">
		        <tr>
		          <th>PO ID</th>
		          <td><%= f.text_field(:po_id) %></td>
		        </tr>
		        <tr>
		          <th>Project ID</th>
		          <td><%= f.text_field(:project_id) %></td>
		        </tr>
		        <tr>
		          <th>Company ID</th>
		          <td><%= f.text_field(:project_id) %></td>
		        </tr>
		      </table>

		      <div class="form-buttons">
		        <%= submit_tag("Create PO") %>
		      </div>

		    <% end %>
		</div>
		
		
		
		<div class="col-md-4"></div>
		</div>
		
	
	
	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>









 