
<div class = "row row-heading text-center row-2">
	
	
  	  <div class="col-md-2"> 
	  </div>
  
  
  	<div class="col-md-8">

		<div class="row row-1">
			<div class ="row text-center">
				<div class="col-md-3">
					<%=link_to("<< Back", {:action => 'index', project_id: @project.id })%>
				</div>
				
				
				<div class="col-md-6 col-title">
					<h1>Create new PO for <%=@project.project%></h1>
				</div>
				<div class="col-md-3">
					<br><a href="index">Change Project</a>
					<br><a href="#">New Vendor</a>
				</div>
			</div>
		</div>
		
		<div class="row row-2">
			<div class="col-md-4"></div>
			
			<div class="col-md-4">
			
			</br></br>
		    <%= form_for(:master_po, :url => {:action => 'create', project_id: @project.id}) do |f| %>

		      <table summary="Subject form fields">
		        <tr>
		          <th>PO Number</th>
		          <td><%= f.text_field(:po_num) %></td>
		        </tr>
		        <tr>
		          <th>Company ID</th>
		          <td><%= f.text_field(:company_id) %></td>
		        </tr>
		      </table>

		      <div class="form-buttons">
		        <%= submit_tag("Create PO") %>
		      </div>

		    <% end %>
		</div>
		
		
		
		<div class="col-md-4"></div>
		</div>
		
	
	
	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>









 
