<div class = "row row-2 text-center">
	<div class="col-md-2 col-side">
		<%= render partial: 'sidenavigation', locals: {project:  @project} %>
	</div>


	<div class="col-md-10">
		
		<div class ="row text-center">
			<div class="col-md-9 col-title">
				<% if !@project.nil? %>
				<h1><%=@project.project%> Dashboard</h1>
			<% else %>
				<h1><%="My"%> Dashboard</h1>
			<% end %>
			</div>
			<div class="col-md-3">
				<br><%=link_to("Change Project", {:action => 'index', :id => false}, :class => 'action index')%></a>
				<br><a href="/users/index">Manage Team</a>
			</div>
		</div>
		
		
		<div class ="row row-3 text-center">
			<div class="col-md-6">
				<h2>You have X high priority tasks. </h2>
				<h3>You have X remaining this week</h3>
			  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">See all</a><%=" "%>
			</div>
			<div class="col-md-6 col-dashboard-right">
				<%= pie_chart Project.group(:project).count %>
			</div>
				
		</div>

		<div class ="row row-4 text-center">
			<div class="col-md-6">
				<h2>Your team is on track.</h2>
				<h3>5 outstanding tasks due this week</h3>
			  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">See all</a><%=" "%>
				<a class="btn btn-primary btn-med btn-1 " href="schedule" role="button">Schedule</a>
			</div>
			<div class="col-md-6">
				
			</div>
			
			
			
  		</div>
		
		<div class ="row row-3 text-center">
			<h2><%=@tasks%> change requests outstanding. </h2>
			<h3>You have <%=@tasks%> due this week</h3>
			  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">List</a><%=" "%>
				<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">Manage Vendors</a>
		</div>

	</div>

</div>

<hr/>
<%= params.inspect %>


