<div class="row row-1">
	<%= render(:partial => '/landing/banner') %>  
</div>

<div class = "row row-2 text-center">
	<div class="col-md-3 col-side">
	  		<%= render(:partial => 'sidenavigation') %>
	</div>


	<div class="col-md-9">
		
		<div class ="row text-center">
			<div class="col-md-9 col-title">
				<h1>Project Dashboard</h1>
			</div>
			<div class="col-md-3">
				<br><a href="index">Change Project</a>
				<br><a href="/users/index">Manage Profile</a>
			</div>
		</div>
		
		
		<div class ="row row-3 text-center">
				<h2>You have 1<%=@tasks%> high priority tasks. </h2>
				<h3>You have 1<%=@tasks%> remaining this week</h3>
			  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">See all</a><%=" "%>
		</div>

		<div class ="row row-4 text-center">
			<h2>Your team is on track.</h2>
			<h3>5 outstanding tasks due this week</h3>
		  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">See all</a><%=" "%>
			<a class="btn btn-primary btn-med btn-1 " href="schedule" role="button">Schedule</a>
  		</div>
		
		<div class ="row row-3 text-center">
			<h2><%=@tasks%> change requests outstanding. </h2>
			<h3>You have <%=@tasks%> due this week</h3>
			  	<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">List</a><%=" "%>
				<a class="btn btn-primary btn-med btn-1 " href="/tasks/index" role="button">Manage Vendors</a>
		</div>

	</div>

</div>


