<div class = "row row-2 row-heading text-center">
	<div class="col-md-1 col-side">
	</div>


	<div class="col-md-8">
		
		<div class ="row text-center">

 			<div class="col-md-9 col-title">
 				<h1>Project List</h1>
 			</div>
 			<div class="col-md-3">
				<br>
 				<br><a href="/projects/new">Create New Project</a>
 			</div>
			
		</div>
		
		
		<div class ="row row-2 text-center">
			<% if !flash[:notice].blank? %>
				<div class="notice">
					<h2><%= flash[:notice]%></h2>
				</div>
			<%end%>
  			<table class="table table-bordered table-striped text-center" summary="Tasks List">
				<tr class="header">
					<th>Project Number</th>
					<th>Project Name</th>
					<th>Is Active</th>
					<th>Total Purchases</th>
					<th>Team Members</th>
					<th>Options</th>
				</tr>
				<% i = 0 %>	
				<% @projects.each do |project|%>	
				<tr>
					<td><%=project.id%></td>
					<td><%=link_to(project.project, {:action => 'dashboard', :id => project.id}, :class => 'action dashboard')%></td>
					<td><%=project.is_active%></td>
					<td><%=project.master_pos.count%></td>
					<td><%=project.master_pos.first%></td>
					<td><%=link_to("Details", {:action => 'show', :id => project.id}, :class => 'action show')%>
					<%=button_to("Set as project", {:action => 'dashboard', :id => project.id}, :class => 'action dashboard')%></td>
					</tr>	
					<% end %>
			</table>
		</div>

	<div class="col-md-1 col-side">
	</div>

	</div>

</div>




	



