<div class="row row-1">
	<%= render(:partial => '/landing/banner') %>  
</div>


<div class = "row text-center row-2">
	
	
  	  <div class="col-md-2"> 
		  <%=render(:partial => 'sidenavigation')%>
	  </div>
  
  
  	<div class="col-md-8">
	  <h2>Your Projects</h2>
	 	
		<div class="row row-1">
		</div>
		
		<div class="row row-2">
	
  			<table class="table table-bordered table-striped text-center" summary="Tasks List">
				<tr class="header">
					<th>Project Name</th>
					<th>Company ID</th>
					<th>Description</th>
					<th>Company ID</th>
					<th>Team Members</th>
					<th>Created Date</th>
					<th>Membership</th>
					
				</tr>
				<% i = 0 %>	
				<% @pos.each do |po|%>	
				<tr>
					<td><%=po.po_id%></td>
					<td><%=po.po_id%></td>
					<td><%=po.po_num%></td>
					<td><%=po.created_date%></td>
					<td><%=po.project_id%></td>
					<td><%=po.is_active%></td>
					<td><%=po.company_id%></td>
					</tr>	
					<% end %>
				</table>
		</div>
	
	
	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>