<div class="row row-1">
	<%= render(:partial => 'banner') %>  
</div>


<div class = "row text-center row-2">
	
	
  	  <div class="col-md-2"> 
	  </div>
  
  
  	<div class="col-md-8">
	  <h2>Your Project</h2>
	 	
		<div class="row row-1">
		</div>
		
		<div class="row row-2">
	
  			<table class="table table-bordered table-striped text-center" summary="Tasks List">
				<tr class="header">
					<th>po_id</th>
					<th>po_num</th>
					<th>created_date</th>
					<th>project_id</th>
					<th>is_active</th>
					<th>company_id</th>
				</tr>
				<% i = 0 %>	
				<% @pos.each do |po|%>	
				<tr>
					<td><%=po.po_id%></td>
					<td><%=po.po_num%></td>
					<td><%=po.created_date%></td>
					<td><%=po.project_id%></td>
					<td><%=po.is_active%></td>
					<td><%=po.company_id%></td>
					</tr>	
					<% end %>
				</table>
				<h2>Total Purchase Orders = <%= @pos.count%></h2>
		</div>
	
	
	</div>
  
  	<div class="col-md-2"> 
  	</div>

	
</div>