
<div class="row row-1">
	<%= render(:partial => '/project/banner') %>  
</div>


<div class = "row text-center row-2">

  <div class="col-md-3"> 
	  <%= render(:partial => '/project/sidenavigation')%>
  </div>
  
  
  <div class="col-md-8">
  	<h2>Purchases List</h2>
	
	<table class="table table-bordered table-striped text-center">
		<tr class="header">
			<th>&nbsp;</th>
			<th>po_num</th>
			<th>Vendor</th>
			<th>Description</th>
			<th>Line Items</th>
			<th>Details</th>
		</tr>
		<% i = 0 %>	
		<% @pos.each do |po|%>	
		<tr>
			<td><%=po.po_id%></td>
			<td><%=po.po_num%></td>
			<td><%=po.company_id%></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><a href="/items/show">Details</a></td>
	
		</tr>	
		<% end %>
	</table>
  </div>
 
  <div class="col-md-1"> 
  </div>

</div>


