
<div class="row row-1">
	<%= render(:partial => '/project/banner') %>  
</div>


<div class = "row text-center row-2">

  <div class="col-md-3"> 
	  <%= render(:partial => '/project/sidenavigation')%>
  </div>
  
  
  <div class="col-md-8">
  	<h2>Purchases List</h2>
  	<table class="table table-bordered table-striped text-center" summary="PO List">
		<tr class="header">
			<th>&nbsp;</th>
			<th>PO #</th>
			<th>Line #</th>
			<th>Submittals</th>
			<th>Price</th>
			<th>Status Code</th>
			<th>Approved by Date</th>
			<th>&nbsp;</th>
		</tr>
		<% i = 0 %>	
		<% @polineitems.each do |polineitem|%>	
		<tr>
				<td><%=polineitem.item_id%></td>
				<td><%=polineitem.po_id%></td>
				<td><%=polineitem.line_item_num%></td>
				<td><%=polineitem.docs_required%></td>
				<td><%=polineitem.price%></td>
				<td><%=polineitem.status_code%></td>
				<td><%=polineitem.approved_by_date%></td>
				<td><%= link_to("Details", {:action => 'show'}, :class => 'show')%></td>
		</tr>
		<% i = i + 1 %>	
		<% end %>
	</table>
  </div>
 
  <div class="col-md-1"> 
  </div>

</div>


