<!DOCTYPE html>
<html>
<head>
  <title>VendorDocs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300' rel='stylesheet' type='text/css'>
  
</head>

<div class="row">
	<%= render(:partial => '/landing/banner') %>  
</div>


	<% if !flash[:notice].blank? %>
		<div class="notice">
			<%= flash[:notice]%>
		</div>
	<%end%>


<body>
<%= yield %>
</body>


<div class="row row-footer text-center">
	<%= render(:partial => '/landing/footer') %>  
</div>

</html>


